<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Edit Restaurant</title>
  </head>
  <body>
    <main class="form-main add-edit-form" >
      <div class="card" id="edit-card">
        <div class="card-content">
          <form action="/<%=user_id%>/restaurants/<%=restaurant._id%>/edit?_method=put" method="POST">
            <% if(messages.length) {%>
              <div class="notification is-danger p-2" id="error-message"> 
              <%=messages%>
            </div>
              <% } %> 
            <div class="field">
              <label for="restaurant-name">Name</label>
              <div class="control">
                <input
                  class="input is-info"
                  type="text"
                  placeholder="Info input"
                  id="restaurant-name"
                  name="resName"
                  value= "<%=restaurant.resName%>"
                  required
                />
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <div class="field">
                <label for="city">City</label>
                <div class="control">
                  <input
                    class="input is-info"
                    type="text"
                    placeholder="City"
                    id="city"
                    name="city"
                    value= "<%=restaurant.city%>"
                    required
                  />
                </div>
              </div>
              <div class="field mx-2">
                <label for="state">State</label>
                <div class="control">
                  <div class="select is-info">
                    <select name="state" id="state" required>
                      <% for(let state of states) {%>
                        <option value="<%=state%>"<%= state === restaurant.state? 'selected':'' %> ><%=state%></option>
                      <% } %>  
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label for="cuisine">Cuisine</label>
                <div class="control">
                  <div class="select is-info">
                    <select name="cuisine" id="cuisine" required>
                      <% for(type of cuisine) { %> 
                        <option value="<%=type%>" <%= type===restaurant.cuisine? 'selected':'' %>><%=type%></option>
                      <% } %>  
                    </select>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="field is-grouped is-grouped-centered">
              <fieldset>
                <legend>Your Rating</legend>
                <div id="star-container">
                  <div class="control">
                    <input
                      type="radio"
                      id="five-star"
                      name="rating"
                      value="5"
                      <%=restaurant.rating===5?'checked':''  %> 
                    />
                    <label for="five-star"></label>

                    <input
                      type="radio"
                      id="four-star"
                      name="rating"
                      value="4"
                       <%=restaurant.rating===4?'checked':''  %>
                    />
                    <label for="four-star"></label>

                    <input
                      type="radio"
                      id="three-star"
                      name="rating"
                      value="3"
                      <%=restaurant.rating===3?'checked':''  %>
                    />
                    <label for="three-star"></label>

                    <input type="radio"
                      id="two-star"
                      name="rating"
                      value="2"
                      <%=restaurant.rating===2?'checked':''  %> />
                    <label for="two-star"></label>

                    <input type="radio"
                      id="one-star"
                      name="rating"
                      value="1"
                      <%=restaurant.rating===1?'checked':''  %> 
                       />
                    <label for="one-star"></label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <fieldset>
                <legend>Price Point</legend>
                <div id="price-container">
                  <div class="control">
                    <input
                      type="radio"
                      id="three-dollar"
                      name="pricePoint"
                      value="3"
                      <%=restaurant.pricePoint===3?'checked':''  %>
                    />
                    <label for="three-dollar"></label>

                    <input
                      type="radio"
                      id="two-dollar"
                      name="pricePoint"
                      value="2"
                      <%=restaurant.pricePoint===2?'checked':''  %>
                    />
                    <label for="two-dollar"></label>

                    <input
                      type="radio"
                      id="one-dollar"
                      name="pricePoint"
                      value="1"
                      <%=restaurant.pricePoint===1?'checked':''  %>
                    />
                    <label for="one-dollar"></label>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="field">
              <textarea
                class="textarea is-info"
                rows="4"
                placeholder="Any Notes..."
                name="notes"
              ><%=restaurant.notes%></textarea>
            </div>
            <button class="button is-success">Save changes</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
