<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="index.js" type="text/js"></script>
    <title>Restaurant Display</title>
  </head>
  <body>
    <header>
      <div id="logout-container">
        <form action="/logout" method="POST">
          <button id="logout-button" class="button is-danger is-outlined is-rounded p-4">Log out</button>
        </form>
      </div>
      <h1 class="title is-1 has-text-centered">Your Restaurants</h1>
    </header>
    <div class="is-flex is-justify-content-center my-4">
      <button class="button is-link is-rounded is-large">
        <a href="/<%=id%>/restaurants/new" id="new-res-link"
          >Add a Restaurant</a
        >
      </button>
    </div>
    <main style="display: flex; justify-content: center;">
      <div class="container is-flex is-justify-content-space-evenly is-flex-wrap-wrap" id="card-container">
        <% for(let rest of restaurant){ %>
        <div class="card">
          <div class="card-header is-justify-content-center">
            <h2 class="title is-3 p-4"><%=rest.resName%></h2>
          </div>
          <div class="is-flex is-flex-direction-column is-align-items-center p-4">
        
            <div>
              <span>Rating</span>
              <div>
                <% for(let i = 0; i< rest.rating; i++){ %>
                <span class="star-rating">★</span>
                <% } %>
              </div>
            </div>
            <div class="pt-4">
              <span>Price Point</span>
              <div>
                <% for(let i = 0; i< rest.pricePoint; i++){ %>
                <span class="price-point">$</span>
                <% } %>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item" id="edit-link">
              <a
              class="is-focused"
                href="/<%=id%>/restaurants/<%=rest._id%>/edit"
                >Edit</a
              >
            </div>
            <div class="card-footer-item">
              <form
                action="/delete/<%=rest._id%>?_method=delete"
                method="POST"
              >
                <input name="resId" type="hidden" value="/<%=rest._id%>" />
                <button class="is-focused" id="delete-res-button">
                  Delete
                </button>
              </form>
            </div>
            <div class="card-footer-item" id="details-link">
              <a href="/<%=id%>/restaurants/<%=rest._id%>/details"
              class="is-focused"
                >More Details</a
              >
            </div>
          </footer>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
