<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="index.js" type="text/js"></script>
    <title>Restaurant Display</title>
  </head>
  <body id="restaurant-container">
    <header>
      <div id="logout-container">
        <form action="/logout" method="POST">
          <button id="logout-button" class="button is-danger">Log out</button>
        </form>
      </div>
      <h1>Your Restaurants</h1>
    </header>
    <div id="buttonBox">
      <button class="button is-link is-rounded is-large">
        <a href="/<%=id%>/restaurants/new" id="new-res-link"
          >Add a Restaurant</a
        >
      </button>
    </div>
    <main>
      <div class="container">
        <% for(let rest of restaurant){ %>
        <div class="card">
          <div class="card-header">
            <h2 class="card-header-title"><%=rest.resName%></h2>
          </div>
          <div class="card-content">
            <div id="location-container">
              <span><%= rest.city %>, </span>
              <span><%= rest.state %></span>
            </div>
            <div id="rating-container">
              <span>Rating</span>
              <div>
                <% for(let i = 0; i< rest.rating; i++){ %>
                <span class="star-rating">★</span>
                <% } %>
              </div>
            </div>
            <div id="price-point-container">
              <span>Price Point</span>
              <div>
                <% for(let i = 0; i< rest.pricePoint; i++){ %>
                <span class="price-point">$</span>
                <% } %>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item" id="edit-link">
              <a
              class="is-focused"
                href="/<%=id%>/restaurants/<%=rest._id%>/edit"
                >Edit</a
              >
            </div>
            <div class="card-footer-item" id="delete-res-container">
              <form
                action="/delete/<%=rest._id%>?_method=delete"
                method="POST"
              >
                <input name="resId" type="hidden" value="/<%=rest._id%>" />
                <button class="is-focused" id="delete-res-button">
                  Delete
                </button>
              </form>
            </div>
            <div class="card-footer-item" id="details-link">
              <a href=""
              class="is-focused"
                >More Details</a
              >
            </div>

            <!-- <a class="card-footer-item" id="edit-link" href="/<%=id%>/restaurants/<%=rest._id%>/edit"
                >Edit</a
              >
  
              <form
                action="/delete/<%=rest._id%>?_method=delete"
                method="POST"
                class="card-footer-item"
              >
              <input name = "resId" type="hidden" value="/<%=rest._id%>"/>
                <button class="card-footer-item" id="delete-res-button">Delete</button>
              </form>
  
              <a class="card-footer-item" id="details-link" href=""
                >More Details</a
              > -->
          </footer>
        </div>
        <% } %>
      </div>
    </main>
  </body>
</html>
